.container {
  color: #19181f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background-color 0.3s ease-out;
}
.answer_hover:hover {
  background-color: #efefef !important;
}
.answer:hover {
  cursor: pointer;
}
.answerInner {
  width: 0;
  left: 0;
  margin: 0;
  height: 100%;
  /* border-radius: 0.5rem; */
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-align: left;
}
.answerInner p {
  margin: 0;
  padding: 1rem;
  font-weight: bold;
}
.answer span {
  position: absolute;
  right: 1rem;
  top: 25%;
  font-size: 1.2rem;
}
