.container {
  color: #19181f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.answer {
  height: 100%;
  width: 50%;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.answerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.answer:first-child {
  border-right: 0.01rem solid #efefef;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.answer:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.answerContainer p {
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 100;
}
.answerContainer span {
  font-size: 2.25rem;
  z-index: 100;
}
.answer:hover {
  cursor: pointer;
}
