@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* display: flex; */
}

div {
  /* max-width: 500px; */
  /* margin: 0 auto; */
}
